#positioned {
  text-align: center;
  border-style: solid;
  border-width: medium;
  border-color: orange;
  background-color: yellow;
  width: 200px;
  height: 20px;
  position: fixed;
  top: 200px;
  left: 200px;
  transition: width 1s, height 1s;
  transition-timing-function: ease-in-out;
  animation-name: colors;
  animation-duration: 4s;
  /* transform: scale(2.2) rotatez(45deg); */
}
@@keyframes colors {
  from  {
    background-color: yellow;
    }
  to {
      background-color: purple;
    }
}
#positioned:hover {
  width: 300px;
  height: 40px;
}
.big {
  height: 1000px;
}
